/* coded by Emadcode.com  */
/* note: this was coded couples of months ago, my skills are diff now */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Cairo:wght@500;600;700&family=Epilogue:wght@400;500;600;700;800&family=Lexend+Deca&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,400;1,700&display=swap');


:root {
--mainColor:hsl(0, 0%, 41%);
--up:url(./images/icon-arrow-up.svg);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
/* header  */
header {
    margin: 1.25rem;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.centerX {
    display: flex;
    justify-content: center;
}
.logo {
    align-items: flex-end;
    padding: 5px 10px;
}
.logo img {
    min-height: 35px;
}
header .box{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
header .box  > ul{
    display: flex;
}
/* put an arrow right the li */
header .arrow {
    transition: 0.4s;
    position: relative;
    --down:url(./images/icon-arrow-down.svg);
}
header .arrow:after {
    content: var(--down,url(./images/icon-arrow-down.svg));
    position: absolute;
    margin-left: 5px;
    /* --down:url(./images/icon-arrow-up.svg); */
}

.links > li:hover {
    color: hsl(0, 0%, 8%);
}

.arrow:hover  ul{
    display: block;
}
.arrow > .showFeatures, .arrow > .showCompany{
    display: none;
    position: absolute;
    background-color: #ffffff;
    padding: 15px 30px;
    box-shadow: 0px 9px 30px 0px hsl(0deg 0% 41% / 38%);
    border-radius: 15px;
    left: -65px;
    top: 40px;
}
.showCompany > a, .showFeatures > a {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 1rem;
    padding: 5px 0px;
    text-decoration: none;
    color: var(--mainColor);
    white-space: nowrap;
}
.showFeatures > a > img {
    margin-right: 20px;
}
.showCompany {
    right: auto;
    left: 25px !important;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header ul.links {
    display: flex;
    justify-content: space-between;
    color: var(--mainColor);
    font-family: 'Epilogue', sans-serif;
    font-size: 0.875rem;
}
header ul.links > li {
    margin-left: 5px;
    font-weight: 500;
    text-align: center;
    padding: 15px 30px;
    cursor: pointer;
    filter: none  !important;
}
header ul.links > li ul li img {
    min-width: 15px;
    max-height: 15px;
}
.links ul li {
    transition: 0.3s;
}

header .links ul a:hover li {
    transform: translateX(10px);
}
header .links .showCompany {

}

.entering {
    display: flex;
    color: var(--mainColor);
    font-family: 'Epilogue', sans-serif;
}
.entering > a {
    margin-left: 30px;
    text-align: center;
    font-weight: 500;
    color: var(--mainColor);
}
.entering .register {
    border: 2px solid var(--mainColor);
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
}
.entering > *:hover {
    opacity: 0.5;
}
.threeDots {
    display: none;
}
@media (max-width:767px)  {
    header {
        
        margin: 1rem 0.8rem;
    }
    .threeDots {
        height: 50px;
        width: 50px;
        padding: 5px 10px 15px 15px;
        display: block;
        position: relative;
        z-index: 3;
    }
    .threeDots img.close_icon {
        display: none;
    }
    .threeDots[close_icon] img.close_icon { 
        display: block;
    }
    .threeDots[close_icon] img.burger_icon {
        display: none;
    }   
    nav {
    transition: 0.4s;
    display: block !important;
    position: fixed;
    width: 200px;
    background-color: #fff;
    z-index: 2;
    right: -300px;
    top: 0px;
    height: 100vh;
    padding-top: 80px;

    }
    
    nav > ul.links {
        display: block;
    }
    nav > ul.links > li{
        text-align: left;
    }
    nav > .entering {
      display: block;
      margin: 40px auto;

    }
    nav > .entering .center{
      margin:10px auto;
      width: 80%;
      padding: 15px 0;
      border-radius: 16px;
    }
    .arrow:hover {
    margin-bottom: 150px;
    }
    .arrow:hover::selection {
        background-color: transparent;
    }
    .arrow ul.showFeatures,
    .arrow ul.showCompany {
    box-shadow: none;
    left: 0px !important;
    }
}
/*the content ( container)  */
section {
    display: flex;
    padding: 30px 50px;
}
.container {
    margin: 70px 0 5px 90px;
    display: grid;
    box-sizing: content-box;
}
.container ul {
    display: flex;
}
.container>h2 {
    font-weight: bold;
    font-family: 'Epilogue', sans-serif;
    font-size: 4.375rem;
    margin-top: 40px;
}
.container > h2 span {
    white-space: nowrap;
}
.container>p {
    font-size: 1.125rem;
    font-family: 'Epilogue', sans-serif;
    color:var(--mainColor);
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    line-height: 26px;
}
.container>h2>span {
    display: block;
}
.container a {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 160px;
    height: 55px;
    transition: 0.3s;
    margin-bottom: 30px;
    border: none;
    background-color: hsl(0, 0%, 8%);
    cursor: pointer;
    color: hsl(0, 0%, 98%);
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Epilogue', sans-serif;
}
.container a:hover {
    border: 2px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
}
.partners {
    align-self: flex-end;
}
.partners ul li{
    margin-left: 15px;
}
.partners li img{
    width: 80px;
}
.big-img {
    width: 50%;
    height: auto;
    margin: 20px 70px;
}
.big-img picture img {
    width: 250px;
    width: calc(40% + 20vw);
}
@media (max-width:767px) {
    section {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }
    .big-img {
        width: 100%;
        margin: 0;
    }
    .big-img picture img {
        width: 100%;
        max-width: 100%;
    }
    .container {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .container>h2 {
        font-size: calc(1.5rem + 2vw) ;
        text-align: center;
        width: 100%;
    }
    .container>h2 > span {
        display: inline;
    }
    .container p {
        font-size: 1rem;
        padding: 5px;
        max-width: none;
        text-align: center;
    }
    .container > a {
        margin: 20px auto;
    }
    .partners {
        margin-top: 40px;
        width: 100%;
    }
    .partners > ul {
        display: grid;
    grid-template-columns: repeat(auto-fit,minmax(60px,1fr));
    }
    .partners > ul img{
        width: 100%;
    }
}


@media only screen and (max-width:991px) {
        header ul.links > li {
            padding: 15px 20px;
        }
}

nav[opened] {
    right: 0 !important;
}


.attribution {

    margin: 10px;
    background-color: var(--mainColors,blueviolet);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: sticky;
    bottom: 0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: calc(1vw + 4px);
    font-family: 'Roboto', sans-serif;
}
.attribution a {
    margin: auto 5px;
    text-decoration: none;
    color: aqua;
    letter-spacing: 1px;
}



